
<div style="margin-top: 5%">


</div>
<div>
<img
      src="../assets/images/logo.jpeg"
      alt="logo"
      class="login-logo"
    />
    <hr />
    <div id="login_div" class="main-div">
      <h1 id="login_heading">Login</h1>

      <form>
        <div class="form-group">
          <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
          <ns-textField name="email" class="textfieldBorderColor  font13" [rformgroup]="rformLogin" rformControlName="email">
          </ns-textField>


        </div>
        <div class="form-group">
          <label><span class="glyphicon glyphicon-eye-open"></span> Password</label>
          <ns-textField name="password" class="textfieldBorderColor  font13" [rformgroup]="rformLogin"
          rformControlName="password">
          </ns-textField>


        </div>
        <div class="checkbox">
          <label style="color: black;"><input type="checkbox" value="" checked>Remember me</label>
        </div>
        <button (click)='login()' type="submit" class="btn btn-success btn-block"><span
            class="glyphicon glyphicon-off"></span> Login </button>
      </form>
    </div>div>
