<div>
<div style="height: 200px">

  <div class="col-lg-12 container ">
    <div class="hero-text" style="background-color: white;width: 450px;">
      <h1 style="font-size:xx-large;color: black;"><strong>  Details</strong></h1>

    </div>


  </div>
  </div>
  <div style="margin:5% ;height:600px;">
    <div>

    <div  style="height: 600px;width: 70%;float: left;">
   <h2>Adress:</h2>
      <p style="font-size: xx-large;" class="fontitalic">{{doc.location}}</p>
    <h2>Contact</h2>
      <h5>{{doc.contact}}</h5>
    <h2>Email</h2>
      <h5>{{doc.email}}</h5>
  <br>
  <hr >
  <h2 >About </h2>
  <div style="padding-left:70px ;" class="wf-product-preview clearfix row">
    <div style="width: 500px;margin-top: 5%;margin-left: 5%;margin-right: 5%;word-wrap: break-word;">
      {{doc?.about}}
    </div>

  </div>

  <div style="background-color: white;">

  </div>
  </div>
</div>
    <div style="width:30%;height: 700px;float: right;border: 1px;border-width: 1px;border-style: groove;">
      <div style="margin: 5%;">
        <h3 style="text-align: center;color:black ;">Your Requirnments?</h3>

        <form [formGroup]="rform">
          <div class="panel panel-default">
            <div class="panel-body">

              <h4 >Your Name</h4>
              <ns-textField name="name" class="textfieldBorderColor  font13" [rformgroup]="rform" rformControlName="name">
              </ns-textField>
              <h4  >Your Email</h4>
              <ns-textField class="textfieldBorderColor  font13" [rformgroup]="rform" rformControlName="email">
              </ns-textField>
              <h4  >Phone</h4>

              <ns-textField type="number" class="textfieldBorderColor  font13" [rformgroup]="rform" rformControlName="phone">
              </ns-textField>
              <h4  >Guests</h4>
              <ns-textField  type="number" class="textfieldBorderColor  font13" [rformgroup]="rform" rformControlName="guests">
              </ns-textField>

              <h4  >Date</h4>

              <ns-textField type="date" class="textfieldBorderColor  font13" [rformgroup]="rform" rformControlName="date">
              </ns-textField>

              <h4  >Event Type</h4>
              <mat-form-field [formGroup]="rform">
                <mat-label>Select your event</mat-label>
                <mat-select  formControlName="eventType">
                  <mat-option  *ngFor="let eventType of ['Barat','Valeema','Mehndi','Other']"
                   [value]="eventType">
                    {{eventType}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <h4  >City</h4>
              <ns-textField class="textfieldBorderColor  font13" [rformgroup]="rform" rformControlName="city">
              </ns-textField>

            </div>
          </div>

          <button type="submit" (click)='sendRequest()' class="btn"
           style="background-color: green;color: white; margin-top: 3%;margin-left: 20%;width: 50%;">Send Request</button>

        </form>
      </div>

    </div>

  </div>
  <div style="margin:5%">
    <h2> Available Services</h2>
    <h5>To make a reservation, check the availability or other inquiries, please contact us now! Not only that, to ensure your event starts and goes as smoothly as possible, we also provide advance  set- up service. All the basic equipment such as tables,
      chairs, projector & screen, PA system will be set-up before your arrival, and it’s free.</h5>
      <div>
        <div style="margin: 3%;">
        <ul *ngFor="let item of services"  >

          <li><a  class=" xs-btn  " style="background-color: green;color:white ;">{{item}}</a>
          </li>

        </ul>
      </div>

  </div>
  </div>
  <div style="margin: 5%;" >
    <h2> Gallary</h2>
    <div  class="containerflex">

        <div *ngFor="let item of multipleImages"  style="margin:2%">
          <img  [src]='"../assets/images/"+ item' style="margin: 4%;height: 200px;width: 300px;">
   </div>
</div>

</div>
